<footer class="footer">
  <div class="footerContainer">
    <div class="footerContent">
      <p>2025 The Kingdom: Fenrin. IPRWC Webshop.</p>
      <div class="socialLinks">
        <a href="https://discord.gg/Z7xfxJKSCV" target="_blank"><i class="fab fa-discord"></i>Fenrin</a>
        <a href="https://discord.gg/nECQnPa" target="_blank"><i class="fab fa-discord"></i>Midisti</a>
        <a href="https://www.youtube.com/@KingdomFenrin" target="_blank"><i class="fab fa-youtube"></i>@KingdomFenrin</a>
        <a href="https://x.com/KDFenrin" target="_blank"><i class="fa-brands fa-twitter"></i>@KDFenrin</a>
      </div>
    </div>
  </div>
</footer>
