<section class="imageContainer">
  <img src="./assets/images/fenrin_banner.jpg"/>

  <div class="socialIcons">
    <a href="https://discord.gg/Z7xfxJKSCV" target="_blank"><i class="fab fa-discord"></i></a>
    <a href="https://www.youtube.com/@KingdomFenrin" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://x.com/KDFenrin" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  </div>
</section>
<section class="textWrapper">
  <div class="textContainer">
    <h1 class="font-barlow-regular">The Kingdom: Fenrin</h1>
    <p class="font-montserrat-extralight">
      Dit is de officiële website van The Kingdom: Fenrin!
      Onderhouden door een enthousiaste speler uit de comunity.
      Op deze website kun je alles terugvinden over het doen en laten van Fenrin op de DDG Kingdom 1 server.
    </p>
    <button class="aboutButton font-barlow-regular" routerLink="/about">Leer meer over Fenrin</button>
  </div>
</section>


