<div class="container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Waar ben je naar op zoek?"
    class="search-bar"
  />

  <div class="selection-container">
    <select [(ngModel)]="selectedCategory" class="category-select">
      <option *ngFor="let cat of getCategories()" [value]="cat">{{ cat }}</option>
    </select>
    <button *ngIf="authService.hasRoles('ROLE_LEAD')" (click)="addProduct()" class="btn btn-add">Nieuw product toevoegen</button>
  </div>

  <div class="products-scroll-wrapper font-barlow-regular">
    <div *ngIf="getFilteredProducts().length === 0" class="no-products-message">
      <p>Geen producten gevonden die overeenkomen met je zoekopdracht of categorie.</p>
    </div>

    <div class="products-grid">
      <app-product
        *ngFor="let product of getFilteredProducts()"
        [product]="product"
        (toBeUpdatedProduct)="onProductToBeUpdated($event)"
      ></app-product>
    </div>
  </div>
</div>


<app-modal [isVisible]="showNewProductModal" (onClose)="closeModal()">
  <app-new-product-form (productAdded)="onProductAdded($event)"
                        (productUpdated)="onProductUpdated($event)"
                        (removeProduct)="onRemoveProduct($event)"
                        [toBeUpdatedProduct]="toBeUpdatedProduct">
  </app-new-product-form>
</app-modal>
