<div class="container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search products..."
    class="search-bar"
  />

  <div class="selection-container">
    <select [(ngModel)]="selectedCategory" class="category-select">
      <option *ngFor="let cat of getCategories()" [value]="cat">{{ cat }}</option>
    </select>
<!--    <button (click)="addProduct()" class="btn btn-add">Nieuw product toevoegen</button>-->
  </div>



  <div class="products-scroll-wrapper font-barlow-regular">

    <div *ngIf="getFilteredProducts().length === 0" class="no-products-message">
      <p>Geen producten gevonden die overeenkomen met je zoekopdracht of categorie.</p>
    </div>

    <div class="products-grid">
      <app-product
        *ngFor="let product of getFilteredProducts()"
        [product]="product"
      ></app-product>
    </div>



  </div>
</div>
