<div class="container">

  <section class="map-image">
    <img src="./assets/images/Landkaart_Midisti_V3.png" alt="Midisti Landkaart" />
  </section>

  <section class="text-wrapper-left">
      <div class="text-container">
        <h2 class="font-barlow-regular">The Kingdom 1</h2>
        <p class="font-montserrat-extralight">The Kingdom Server van DusDavidGames is een unieke Minecraft roleplay-server waar spelers worden ondergedompeld in een middeleeuwse wereld vol avontuur, strijd en diplomatie. Hier draait alles om koninkrijken: grote gemeenschappen die samenwerken om hun rijk te laten bloeien, allianties te smeden en vijanden te overwinnen.</p>
        <p class="font-montserrat-extralight">Wanneer je de server betreedt, word je onderdeel van een van deze koninkrijken. Misschien sluit je je aan bij een machtig rijk met een sterk leger, of kies je voor een vreedzaam koninkrijk dat focust op handel en diplomatie. Elk koninkrijk heeft zijn eigen regels, leiders en strategieën, en samen met je medespelers bouw je aan een machtige beschaving.</p>
        <p class="font-montserrat-extralight">Maar het leven in een kingdom is niet zonder gevaren. Oorlogen kunnen uitbreken, bondgenoten kunnen verraden worden en grondstoffen zijn schaars. Strategie, teamwork en slim beleid zijn de sleutels tot succes. Terwijl je forten bouwt, legers traint en plannen smeedt, schrijf je samen met tientallen andere spelers de geschiedenis van de server.</p>
        <p class="font-montserrat-extralight">Of je nu een krijger, een diplomaat, een handelaar of een bouwer bent, er is altijd een rol voor jou op The Kingdom Server. Durf jij het avontuur aan?</p>
      </div>
      <div class="text-image">
        <img src="./assets/images/kd1.jpg" alt="kingdom 1 thumbnail" />
      </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/kingdom_fenrin.jpg" alt="Kingdom fenrin logo" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Kingdom <strong>Fenrin</strong></h2>
      <p class="font-montserrat-extralight">Het keizerrijk Fenrin is één van de oudste kingdoms van Midisti. Die, samen met spirits, in het gebied leefden dat vandaag Oud-Fenrin is. 250 jaar voor Kingdom aflevering 45, begon de expansie van Ljord met hun draken en deze troffen ook Fenrin. Een bloederige, maar korte oorlog werd gevoerd waarbij bijna alle weerwolven uitgeroeid werden. Fenrin werd verdreven tot de eilanden waar ze zich 500 jaar ontwikkelden. </p>
      <p class="font-montserrat-extralight">Door overpopulatie op de eilanden begon Keizer Jurgen de zoektocht naar de wolvenwand die doorgezet werd door alle opvolgers. Onder keizer Jochem keerde Fenrin terug naar het vasteland en werd Hokori gesticht. Onder Keizer Tijmen ook wel de consilidator genoemd, breidde Fenrin oostzuidwest uit.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">ForGiveIt: Keizer</h2>
      <p class="font-montserrat-extralight">ForGiveIt was ooit een trouwe hertog van Keizer Tijmuhn tot dat Tijmuhn de kant van Empire koos en zich meer als een dictator ging gedragen in plaats van een Keizer. ForGiveIt vond dat hij het hef in eigen handen moest nemen en begon een opstand tegen de keizer.</p>
      <p class="font-montserrat-extralight">Na vele slagen en met veel hulp van andere is het hem toch gelukt om Tijmuhn te verjagen en zichzelf tot keizer te kunnen kronen. ForGiveIt bracht weer handel en contact met de buitenwereld richting Fenrin. Hij sloot deals met andere rijken zodat Fenrin zich weer kon laten zien op het wereldtoneel.</p>
      <p class="font-montserrat-extralight">De Keizer heeft zich daarnaast gestort op de historie van het keizerrijk en kwam tot verschillende ontdekkingen. Hieronder valt onder andere ook de kracht van de wolf. Keizer ForGiveIt is op zoek naar die kracht en probeert te leren om hem te beheersen. Na vele avonturen komt hij iedere keer weer een stukje dichterbij zijn ultieme doel. Hoelang dit nog zal duren is onbekend, mogelijk dat er helemaal geen wolvenkracht is en dat dit een verzonnen fabel van vroeger is om de kinderen mee af te schrikken. Niemand die het weet tot dat je het zelf ervaart.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/hokori.png" alt="Hokori" />
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/GrounzerOkami.png" alt="Okami" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Grounzer: Hertog van Okami</h2>
      <p class="font-montserrat-extralight">Als een van de oudste & wijste adelen van Fenrin is deze man gevestigd in het verre oosten van Fenrin, grenzend aan Ljord. Hierdoor vormen de hertog en zijn stad Okami de eerste verdedigingslinie van het Keizerrijk in het oosten.</p>
      <p class="font-montserrat-extralight">Geboren in een adellijke familie, werd hij van jongs af aan opgevoed met respect voor iedereen om zich heen. Tegelijkertijd werd hem een diepe haat tegen het Imperium Ljord ingeprent, waardoor zijn wrok enorm is en hij hen nooit zal vergeven. </p>
      <p class="font-montserrat-extralight">Door aan de grens te wonen in de kouden sneeuw is zijn persoonlijkheid heel terughoudend & agressief, behalve naar zijn naasten, zoals de keizer, de hertogen en de anderen om wie hij geeft- </p>
      <p class="font-montserrat-extralight">Zijn blik op de wereldpolitiek is open. Als onderdeel van de progressieven binnen het Keizerrijk zoekt hij naar contact & handel vanuit de buitenwereld om zo het Keizerrijk te laten bloeien en veilig te stellen voor de toekomst.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">Djoewiee: Hertog van Yagi</h2>
      <p class="font-montserrat-extralight">Hertog Joey van het Keizerrijk der Fenrin is de onverzettelijke heerser van het hertogdom Yagi, gelegen in het hart van Fenrin. Van zijn imposante burcht Yagimoto uit, die trots boven de omliggende vlaktes uitreikte, waakt hij over de grens met het mysterieuze Zera. De burcht, een massief bouwwerk van stenen torens en stevige muren, is zowel een symbool van zijn macht als een verdedigingslinie tegen de dreigingen van het buurland.</p>
      <p class="font-montserrat-extralight">Hoewel zijn leven gewijd is aan het beschermen van zijn volk en het waarborgen van de vrede, heeft Hertog Joey een zwak voor lekkernijen. Zijn geliefde tafel in de grote eetzaal staat vaak vol met zoetigheden: honingkoeken, rijsttaarten, en zachte chocolade die hij met plezier verorberde na een lange dag van strategische overwegingen. Toch, hoe groot zijn verlangen naar zoetigheid ook is, zijn vastberadenheid in het beschermen van Yagi is nog altijd even groot. Geen vijand, of het nu Zera, Ljord of iets anders, zou zijn hertogdom ooit kwetsen zolang hij over de grens waakte. Hij is een man van principe, altijd bereid te vechten voor wat juist is, met de kracht van zijn wil en de scherpte van zijn geest.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/DjoewieYagi.png" alt="Yagimoto" />
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/SlieekSatsuma.png" alt="Satsuma" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Slieek: Hertog van Satsuma</h2>
      <p class="font-montserrat-extralight">Een man met ambities om het keizerrijk uit te breiden. Hij is doorgaans te vinden in de provincie Yagi waar hij een constant grensconflict uitvecht met Zera. Verscholen in Yagimoto bedenkt hij valse plannetjes samen met hertog Joey om hun machtspositie binnen Midisti te versterken. Als voormalig generaal heeft hij loyaliteit van de samurai tot zijn beschikking. Door dit loyale elite leger is hij een belangrijke schakel voor de keizer.</p>
      <p class="font-montserrat-extralight">Een van zijn ambities is nog altijd het verkrijgen van een ambassade in het zand, iets wat Calici hem weigert te geven.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">Ramkoe: Hertog van Xannaria</h2>
      <p class="font-montserrat-extralight">Ooit was Ramkoe een simpele wees in het weeshuis van Gyokai, vlak onder het stadhuis. Hier groeide hij op als een typische straatjongen. Hij leerden zakkenrollen, onderhandelen en vechten. Deze jeugd lag hem goed, tot hij op een dag door Keizer Bastonia opgeroepen werd.</p>
      <p class="font-montserrat-extralight">Ramkoe vertrouwde er niets van, maar toch besloot hij te gaan. Hier kreeg hij te horen dat hij de laatste erfgenaam is van het fortuin van de rijke bankiersfamilie die Gyokai bestuurt. Met dit fortuin is Ramkoe opgeklommen en benoemd tot hertog door zijn toewijding aan het uitbreiden van het Keizerrijk naar het vaste land.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/RamkoeXannaria.png" alt="Xannaria Stad" />
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/ThumasGeneraal.png" alt="Dojo" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Thumas: Generaal</h2>
      <p class="font-montserrat-extralight">Generaal Thumas is een man die niet door strategie, intelligentie of tactisch vernuft zijn positie heeft bereikt, maar door brute kracht, loyaliteit en een flinke dosis geluk. Hij werd geboren binnen het Keizerrijk Fenrin. Als jongeling toonde Thumas al een indrukwekkende fysieke kracht en een ontembare strijdlust, maar ook een opmerkelijk gebrek aan geduld en vooruitziendheid. Zijn militaire carrière begon als gewone soldaat. Thumas, enthousiast als altijd, stortte zich met ongekende energie in elke strijd waarin hij verzeild raakte. Hoewel hij vaak zonder nadenken vijandelijke linies in stormde, bleek zijn pure kracht en vastberadenheid vaak voldoende om hem te laten overleven – en soms zelfs te zegevieren.</p>
      <p class="font-montserrat-extralight">Thumas' strategie—voor zover hij er een had—bestond vooral uit brute kracht en snelheid. Hij geloofde heilig in de filosofie dat de eerste die toeslaat, wint. Hierdoor won hij enkele veldslagen door pure verrassing en brute overmacht, maar leed hij ook zware verliezen wanneer hij ondoordacht in een hinderlaag liep of een vijand onderschatte. Zijn impulsiviteit en gebrek aan vooruitziendheid werden berucht onder zowel zijn bondgenoten als zijn vijanden.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">the_ice_wizard: Graaf van Rirudamu</h2>
      <p class="font-montserrat-extralight">Deze man laat zich zelden zien in het keizerrijk. De meeste tijd brengt hij door in zijn eenzame toren, hoog op de kliffen in het noorden, waar de wind huilt en de golven tegen de rotsen slaan. Daar verdiept hij zich al jarenlang in oude geschriften, die hij door de jaren heen heeft verzameld.</p>
      <p class="font-montserrat-extralight">Als hij zich toch in het openbaar vertoont, is het altijd om een van zijn vele ontdekkingen te delen met het keizerrijk. Maar voor de gewone burger blijven zijn woorden vaak een raadsel—Hij praat over zaken die voor de meesten te ingewikkeld of onbegrijpelijk zijn. En zo blijft hij een vreemde man, gevangen tussen het verleden en een rijk dat weinig aandacht heeft voor zijn wijsheid.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/wizardRirudamu.png" alt="Rirudamu" />
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/TacoYuma.png" alt="Yuma" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">RektByTaco: Graaf van Yuma</h2>
      <p class="font-montserrat-extralight">Luc begon als schoolhoofd van de Universiteit van Fenrin, omringd door oude geschriften en geleerden. Maar boeken alleen konden zijn honger niet stillen.</p>
      <p class="font-montserrat-extralight">Als ambassadeur ontdekte hij dat de wereld groter was dan de muren van de universiteit, en dat woorden gevaarlijk konden zijn. Na een lange tijd werden de leugens en verborgen agenda’s te vermoeiend, en keerde hij terug naar Yuma, niet als geleerde, maar als graaf.</p>
      <p class="font-montserrat-extralight">In deze ruige en uitgestrekte provincie bracht hij orde en vooruitgang. Hij richtte hij zich op het vergroten van de industrie. Hij zette onder meer een uitgebreide mijngroeve op, waarmee hij het land welvaart bracht. Toch dwaalt zijn geest in de eenzame nachten af naar de oude magie van de Fenrins—naar de verhalen van wolven, verloren rituelen en de mystieke kracht die door de valleien blijft fluisteren.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">KoalaClient: Ambassadeur</h2>
      <p class="font-montserrat-extralight">Koalaclient, beter bekend als "Brabbelaar", is de charismatische en spraakzame ambassadeur van Fenrin. Als opvolger van de oude ambassadeur Luc heeft hij de diplomatieke fakkel overgenomen. Hij brengt het grootste deel van zijn tijd door in Arabella, een bruisende stad waar hij de diplomatieke belangen van zijn thuisland behartigt.</p>
      <p class="font-montserrat-extralight">Als lid van de raad van Arabella speelt hij een cruciale rol in het smeden van allianties, het oplossen van geschillen en het versterken van de banden tussen Fenrin en de stad. Met zijn vlotte tong en strategisch inzicht weet Koalaclient vaak complexe situaties te ontwarren, al heeft zijn eindeloze stroom woorden hem ook de bijnaam opgeleverd. Toch is hij een gerespecteerd diplomaat, wiens talent voor onderhandeling even berucht als bewonderd is.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/TeunAmba.png" alt="Fenrinse Ambasade" />
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/TijmenOudKeizer.png" alt="Minato" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Tijmuhn: Oud-Keizer</h2>
      <p class="font-montserrat-extralight">Keizer Tijmen, zoon van Keizer Bastonia en kleinzoon van Keizer Edeldier, was de negende keizer van Fenrin uit het huis Ming. Hij breidde Fenrin uit—dat destijds enkel bestond uit Oud-Fenrin en de eilanden—naar het oosten, zuiden en westen. Provincies als Nieuw-Boshi, Yagi, Yuma en Xannaria werden onder de Consolidator veroverd. Hij zette de zoektocht naar de kracht van de Wolf voort, maar zonder veel succes.</p>
      <p class="font-montserrat-extralight">Door handelsproblemen met Mura bezette Tijmen Arrabella tijdelijk en hernoemde hij de stad Nieuw-Ming. Toen een coalitie van landen Fenrin verdreef, ontstond er door interne problemen een burgeroorlog. De progressieven wonnen, en Tijmen vluchtte naar Malzan, waar hij in ballingschap als oud-keizer leeft.</p>
      <p class="font-montserrat-extralight">Titels van de keizer: Keizer Tijmen eerste en laatste van zijn naam, van de dynastie Ming, de Consolidator van het Fenrinse rijk, meest begeerde bachelor ten oosten van Falmar, kampioen in het patat, Veroveraar van Arabella, keizer zonder kroon.</p>
    </div>
  </section>

  <section class="text-wrapper-left">
    <div class="text-container">
      <h2 class="font-barlow-regular">Xendur: Ex-Hertog van Xannaria</h2>
      <p class="font-montserrat-extralight">Hertog Xander, hoofd van het huis Durr -inclusief ex-generaal Sander en kommender Lander-, was de stichter van Xannaria onder leiding van Keizer Tijmen. Hij was een vertrouweling van keizer Tijmen, totdat er onenigheid ontstond over de aanpak van Nieuw-Ming. Dit veranderde al snel in wantrouwen, totdat Tijmen de Fenrinse burgeroorlog ontketende door een arrestatiebevel tegen Xander uit te voeren.</p>
      <p class="font-montserrat-extralight">Na de overwinning kroonde Xander hertog Floris tot nieuwe keizer van Fenrin. De nieuwe keizer vertrouwde hertog Xander echter niet vanwege zijn banden met de oud-keizers en ontnam hem zijn hertogdom. Nu vertoeft hij in zijn toren in Xannaria als stadhouder.</p>
    </div>
    <div class="text-image">
      <img src="./assets/images/XendurExhertog.png" alt="Xannaria toren"/>
    </div>
  </section>

  <section class="text-wrapper-right">
    <div class="text-image">
      <img src="./assets/images/invictaan.png" alt="Invictaan" />
    </div>
    <div class="text-container">
      <h2 class="font-barlow-regular">Invictaan: Hoofdlakei</h2>
      <p class="font-montserrat-extralight">Deze man lijkt niet altijd te zijn wie hij zegt dat hij is. Hij lijkt erg loyaal naar keizer Floris, maar heeft zijn weg naar boven in de rangen vanuit onder omhoog gewurmd.'s Nachts wordt hij regelmatig in de straten van Hokori gezien volledig gehuld in een mantel. Hij ontmoet hier regelmatig duistere types waarmee hij een groep lijkt te creëren die vanuit de schaduw probeert de macht over het Keizerrijk in handen te krijgen. Want hij als enige erfgenaam van de oude Keizer Bastonia zou eigenlijk de rechtmatige troonopvolger zijn. Hij weet steeds meer aanhang te krijgen en zal er alles aan doen om op een dag zijn geboorterecht terug te krijgen.</p>
    </div>
  </section>

  <button *ngIf="isScrolled" (click)="scrollToTop()" class="scroll-to-top-btn show">
    <i class="fas fa-arrow-up"></i>
  </button>
</div>


