<h2 class="font-barlow-regular" *ngIf="!currentlyUpdating">Nieuw Product Toevoegen</h2>
<h2 class="font-barlow-regular" *ngIf="currentlyUpdating">Product wijzigen</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="font-barlow-regular">
  <div class="form-group">
    <label for="name">Naam</label>
    <input type="text" id="name" formControlName="name" placeholder="Naam">
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error" >
      <div *ngIf="form.get('name')?.errors?.['required']">* Naam moet worden ingevuld.</div>
      <div *ngIf="form.get('name')?.errors?.['maxlength']">* Naam mag maximaal 25 karakters bevatten</div>
      <div></div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Productbeschrijving</label>
    <input type="text" id="description" formControlName="description" placeholder="Productbeschrijving">
    <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="error" >
      <div *ngIf="form.get('description')?.errors?.['required']">* Productbeschrijving moet worden ingevuld.</div>
      <div *ngIf="form.get('description')?.errors?.['maxlength']">* Productbeschrijving mag maximaal 50 karakters bevatten</div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Categorie</label>
    <input type="text" id="category" formControlName="category" placeholder="Categorie">
    <div *ngIf="form.get('category')?.invalid && form.get('category')?.touched" class="error" >
      <div *ngIf="form.get('category')?.errors?.['required']">* Categorie moet worden ingevuld.</div>
      <div *ngIf="form.get('category')?.errors?.['maxlength']">* Categorie mag maximaal 25 karakters bevatten</div>
    </div>
  </div>

  <div class="form-group">
    <label for="price">Prijs</label>
    <input type="number" id="price" formControlName="price" placeholder="Prijs">
    <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error" >
      <div *ngIf="form.get('price')?.errors?.['required']">* Prijs moet worden ingevuld.</div>
      <div *ngIf="form.get('price')?.errors?.['min']">* Prijs moet minimaal 0 zijn.</div>
      <div *ngIf="form.get('price')?.errors?.['max']">* Naam mag maximaal $999 zijn.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="stock">Voorraad</label>
    <input type="number" id="stock" formControlName="stock" placeholder="Voorraad">
    <div *ngIf="form.get('stock')?.invalid && form.get('stock')?.touched" class="error" >
      <div *ngIf="form.get('stock')?.errors?.['required']">* Voorraad moet worden ingevuld.</div>
      <div *ngIf="form.get('stock')?.errors?.['min']">* Voorraad moet minimaal 0 zijn.</div>
      <div *ngIf="form.get('stock')?.errors?.['max']">* Voorraad mag maximaal 9999 zijn.</div>
    </div>
  </div>

  <div class="form-group" *ngIf="!currentlyUpdating">
    <label>Afbeelding</label>
    <input type="file" #fileInput (change)="onFileChange($event)">
    <div *ngIf="form.controls['image'].errors?.['invalidFileType']" class="error" >* Alleen JPG en PNG bestanden zijn toegestaan.</div>
  </div>

  <div class="buttons">
    <button *ngIf="!currentlyUpdating" class="btn btn-succes" type="submit" [disabled]="form.invalid">Product toevoegen</button>
    <button *ngIf="currentlyUpdating" class="btn btn-edit" type="submit" [disabled]="form.invalid">Product wijzigen</button>
    <button *ngIf="currentlyUpdating" class="btn" type="button" (click)="handleRemoveProduct()" >Product verwijderen</button>
  </div>
</form>
